
/* header */
header{
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 10%;
    width: 100%;
    gap: 20%;
    justify-content: start;
    align-items: center;
    position: fixed;
    box-shadow: 10px saddlebrown;
    z-index: 1000;
}

header h2{
    color: red;
    margin-left: 3%;
}

ul{
    list-style: none;
    display: flex;
    gap: 5%;
    width: 150%;
}

a{
    text-decoration: none;
    color: rgb(139, 137, 137);
}
/* fin header */

main{
    background-color:  rgb(255, 255, 251);
    height: auto;
    width: 100%;
}

/* debut section1 */
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10;
    height: 1500%;
}

.partie1-section1{
    flex: 2;
    margin-top: 10%;
}

.partie2-section1 .img-rigth{
    float: left;
    margin-right: 20px;
    margin-left: -300px;
    margin-top: 35%;
    height: 65%;
    width: 100%;
    animation: roule 25s linear infinite;

    
}

@keyframes roule {
    0%{
        transform: rotate(360deg);
    }
}


.img-rigth:hover{
    transform: scale(1.1);
}

.partie1-section1 #salade{
    height: 60%;
    float: right;
}


.partie1-section1 h1{
    font-size: 600%;
    margin-bottom: 0%;
    margin-left: 5%;
    color: rgb(239, 253, 200);
    position: relative;
    -webkit-text-stroke: 0.1vw red;
    text-transform: uppercase;
}

h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: red;
    -webkit-text-stroke: 0vw black;
    border-right: 2px solid red;
    overflow: hidden;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 26%;
    }
}


.partie1-section1 p{
    font-size: 300%;
    font-weight: bold;
    color: rgb(23, 23, 43);
    margin-right: 48%;
    margin-top: 0%;
    margin-left: 5%;
}

.section1 .input2{
    margin-left: 5%;
}

.localisation{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: red;
    width: 10%;
    height: 5%;
    margin-top: 10%;
    border-radius: 5%;
}

.localisation a{
    color: aliceblue;
}

.partie2-section1{
    background-color: red;
    flex: 1;
}
/* fin section1 */


/* debut section2 */
.section2{
    display: flex;
    justify-content: left;
    gap: 3%;
    margin-top: 2%;
}
.paragraphe1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-left: 4%;
    width: 40%;
}
 .paragraphe1 .deco{
    background-color: red;
    height: 70%;
    width: 3%;
    border-radius: 10%;
    
 }

 .paragraphe1 p{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
 }

 .paragraphe2{
    font-size: 75%;
    width: 25%;
    color: rgb(85, 84, 84);
    text-align: left;
 }
 /* fin section2 */

 /* debut section3 */
 .section3{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
 }

 .section3 .bloc{
    box-shadow: 10px rgba(0, 0, 0,  5);
 }

 .bloc img{
    display: block;
    width: 100%;
    border-radius: 1px;
 }

.bloc:hover{
    transform: scale(1.2);
 }

 .bloc{
    position: relative;
}

 .contenu{
    align-items: start;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 50%;
 }

 .contenu button{
    background-color: red;
    color: aliceblue;
    width: 80%;
    height: 30%;
    border-color: aliceblue;
    border-radius: 10px;
 }
 /* fin section3 */

 /* debut section4 */
 .section4{
    background-color: rgb(255, 238, 160);
    /* background-image: url("pngegg (1).png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 }

 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 0%;
    box-shadow: 0 0 2px #1f1c1c;
    /* animation: glow 1.5s infinite alternate; */
 }

 .container h3{
    margin-top: 0%;
 }

 .input2{
    background-color: aliceblue;
    overflow: hidden;
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ee0606;
    text-align: center;
    margin-top: 0%;
    border-radius: 10px;
 }

 .input2 input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 100%;
 }

 .input2 span{
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding-top: 3%;
    height: 100%;
    width: 50%;
    justify-content: center;
 }

.bas{
    display: flex;
    flex-direction: row;
    gap: 8%;
    justify-content: center;
    align-items: center;
}

.text1 h4 p{
     
    margin-bottom: 0%;
    margin-top: 0%;
}
/* fin section4 */

/* responsive */
@media (max-width: 768px) {
    body{
        font-size: 16px;
    }

    .ul{
        flex-direction: column ;
    }
    
}